INFRA_HOST=<tailscale-ip>

DB_HOST=<tailscale-ip>
DB_PORT=30306
DB_USER=rebootuser
DB_PASSWORD=<your-password>

REDIS_HOST=<tailscale-ip>
REDIS_PORT=30379
REDIS_PASSWORD=<your-password>

KAFKA_BOOTSTRAP_SERVERS=<tailscale-ip>:30092
